build
.coverage
dist
dlab_core.egg-info
.DS_Store
.eggs
.idea
*.pyc
services/dlab_aws/dlab_aws.egg-info
services/dlab_aws/dlab_azure.egg-info
services/dlab_aws/dlab_gcp.egg-info
tools/dlab_oauth/dlab_oauth.egg-info
.tox
